import requests

url = 'https://www.facebook.com/help/contact/274459462613911'
data = {
    'jazoest': '2898',
    'lsd': 'AVpK8vZK',
    'name': 'John Doe',
    'email': 'johndoe@email.com',
    'appeal_reason': 'This account is posting inappropriate content.',
    'support_form_id': '274459462613911',
    'support_form_hidden_fields': '{}',
    'support_form_fact_false_fields': '[]',
    'support_form_notified_fields': '[]',
    'support_form_ticket': '',
    'support_form_ticket_form_id': '',
    'support_form_original_support_form_id': '',
    'support_form_is_fallback': 'false',
    'support_form_source': '',
    'support_form_language': '',
    'support_form_hidden_flow_data': '{}',
    'support_form_flow_data': '{}',
    'support_form_flow_data_version': '2',
    'support_form_idempotency_token': 'd9d7d7d7-7d7d-7d7d-7d7d-7d7d7d7d7d7d',
    '__user': '0',
    '__a': '1',
    '__dyn': '',
    '__csr': '',
    '__req': '',
    '__beoa': '0',
    '__pc': '',
    '__bhv': '',
    'dpr': '1',
    '__ccg': 'GOOD',
    '__rev': '',
    '__s': '',
    '__hsi': '',
    '__comet_req': '0',
    '__spin_r': '',
    '__spin_b': '',
    '__spin_t': '',
    'fb_dtsg': '',
    'jazoest': '',
    '__spin_nonce': ''
}

response = requests.post(url, data=data)
